.main-title{
  text-align: center;
  background-color: #204051;
  font-size: 8rem;
  color: #e7dfd5;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* .dice {
  text-align: center;
  display: inline-block;

} */
.col-lg-6{
  text-align: center;
}

.btn{
  margin: 20px 40px;
}

body {
  background-color: #fff;
  margin: 0;
}

h1 {
  margin: 0px;
  padding: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
}

p {
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;

  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.copyrights{
  height: 9rem;
  background-color: #84a9ac;
  color: #fff;
}

.credits{
  padding-top: 10px;
  font-size: 1rem;
  color: black;
  font-family: 'Indie Flower', cursive;
}

@media (min-width: 1028px) {
  .btn-outline-dark{
    margin: 20px 190px 20px 40px;
  }

  .btn-dark{
    margin: 20px 40px 20px 190px;
  }
}
